<%- include("../partials/head") %>
<%- include("../partials/nav") %>
<%- include("../partials/newMessage"); %>

<main class="message-main">
    <h1>Messages</h1>

    <div class="message-feed">

        <% if (messages.length > 0) { %>
            <% messages.forEach(message => { %>

                <%- include('./partials/messageLink', { message: message }) %>

            <% }) %>
        <% } else { %>

            <p>No Messages retrieved</p>

        <% } %>

    </div>

    
</main>

<%- include("../partials/footer") %>
